{{- if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

setopt EXTENDED_GLOB

for rcfile in "${ZDOTDIR:-$HOME}"/.zprezto/runcoms/^README.md(.N); do
  target="${ZDOTDIR:-$HOME}/.${rcfile:t}"
  if [ ! -e "$target" ]; then
    ln -s "$rcfile" "$target"
  fi
done

{{ end -}}
